{% extends "admin/core/base.html" %}
{% load static roles bool_fa %}

{% block title %}Commission Articles{% endblock %}
{% block title-section %}Commission Articles{% endblock %}
{% block title-sub %}Lists commissioned articles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'commission_index' %}">Commissioning Index</a></li>
{% endblock %}

{% block body %}
    {% user_has_role request 'editor' as user_is_editor %}
    <div class="box">
        <div class="title-area">
            <h2>{% if declined_articles %}Declined Commissions{% else %}Commissioned Articles{% endif %}</h2>
            <a href="{% url 'commission_article_owner' %}" class="button">
                <i class="fa fa-plus">&nbsp;</i>Commission Article
            </a>
            {% if declined_articles %}
            <a href="{% url 'commission_index' %}" class="button">
                <i class="fa fa-check-circle">&nbsp;</i>Active Commissions
            </a>
            {% else %}
            <a href="{% url 'commission_declined' %}" class="button">
                <i class="fa fa-times-circle">&nbsp;</i>Archived Commissions
            </a>
            {% endif %}
            {% if user_is_editor %}
                <a href="{% url 'commission_templates' %}" class="button">
                    <i class="fa fa-edit">&nbsp;</i>Templates
                </a>
                <a href="{% url 'commission_manager' %}" class="button">
                    <i class="fa fa-cogs">&nbsp;</i>Settings
                </a>
                <a href="{% url 'commission_reminders' %}" class="button">
                    <i class="fa fa-envelope">&nbsp;</i>Reminders
                </a>
            {% endif %}
        </div>
        <div class="content">

            <p>Decision reminders are sent {{ reminder_before_days }} days before the decision deadline and {{ reminder_after_days }} days after the deadline</p>
            <p>Submission reminders are sent {{ submission_before_days }} days before the submission deadline and {{ submission_after_days }} days after the deadline</p>
            <table class="table scroll small" id="commission_table">
                <thead>
                <tr>
                    <th width="10%">Commission ID</th>
                    <th width="10%">Article ID</th>
                    <th>Title</th>
                    <th>Decision Deadline</th>
                    <th>Decision Reminder Before</th>
                    <th>Decision Reminder After</th>
                    <th>Submission Deadline</th>
                    <th>Submission Reminder Before</th>
                    <th>Submission Reminder After</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for ca in commissioned_articles %}
                    <tr>
                        <td>{{ ca.id }}</td>
                        <td>{{ ca.article.id|default:'Not started'}}</td>
                        <td>{{ ca.article.title|default:'Not started' }}</td>
                        <td>{{ ca.deadline }}</td>
                        <td>
                            <a href="{% url 'commission_preview_reminder' ca.pk 'before' %}" target="_blank">
                            {{ ca.reminder_before_date }} {% if ca.reminder_before_sent %}({{ ca.reminder_before_sent|bool_fa }} {{ ca.reminder_before_sent }}){% endif %}
                            </a>
                        </td>
                        <td>
                        <a href="{% url 'commission_preview_reminder' ca.pk 'after' %}" target="_blank">
                            {{ ca.reminder_after_date }} {% if ca.reminder_after_sent %}({{ ca.reminder_after_sent|bool_fa }} {{ ca.reminder_after_sent }}){% endif %}
                        </td>
                        <td>{{ ca.submission_deadline }} </td>
                        <td>
                            <a href="{% url 'commission_preview_reminder' ca.pk 's_before' %}" target="_blank">
                            {{ ca.submission_reminder_before_date }} {% if ca.submission_reminder_before_sent %}({{ ca.submission_reminder_before_sent|bool_fa }} {{ ca.submission_reminder_before_sent }}){% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'commission_preview_reminder' ca.pk 's_after' %}" target="_blank">
                            {{ ca.submission_reminder_after_date }} {% if ca.submission_reminder_after_sent %}({{ ca.submission_reminder_after_sent|bool_fa }} {{ ca.submission_reminder_after_sent }}){% endif %}
                            </a>
                        </td>
                        <td><a href="{% url 'commissioned_article_details' ca.id %}">Manage</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/popup.js' %}"></script>
{% include "elements/datatables.html" with target='#commission_table' %}
{% endblock %}