{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}Commission Articles{% endblock %}
{% block title-section %}Commission Articles{% endblock %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Commission Article Request</h2>
        </div>
        <div class="content">
            <div class="row expanded">
                <p>{{ comm_article.commissioning_editor.full_name }} has requested that you submit an article titled "{{ comm_article.article.title }}" within section "{{ comm_article.article.section.name }}" to {{ comm_article.article.journal.name }}.</p>
                <p>We ask that you respond to this request by {{ comm_article.deadline|date:"Y-m-d" }}.</p>
                <p>If you have any queries you can contact the <a onClick="javascript:window.open('mailto:{{ comm_article.commissioning_editor.email }}', 'mail');event.preventDefault()" href="mailto:{{ comm_article.commissioning_editor.email }}">handling editor, {{ comm_article.commissioning_editor.full_name }}</a>.</p>

                {% if comm_article.additional_information %}
                    <div class="title-area">
                        <h2>Additional Information</h2>
                    </div>
                    <p>The handling editor provided the following additional information to help you with your decision:</p>
                    {{ comm_article.additional_information|safe }}
                {% endif %}

                {% if instructions %}
                    <div class="title-area">
                        <h2>Submission Instructions</h2>
                    </div>
                    <p><strong>If you accept this commission we request that you submit your article before {{ comm_article.calculate_submission_deadline|date:"Y-m-d" }}</strong></p>
                    {{ instructions|safe }}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <button name="accept" class="success button">Accept Article Request</button>
                    <button name="decline" class="warning button">Decline Article Request</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
