{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}
{% load i18n %}
{% load fqdn %}

{% block title %}Article Commission #{{ comm_article.pk }}{% endblock %}
{% block title-section %}Commission Articles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'commission_index' %}">Commissioning Index</a></li>
    <li>Article Commission #{{ comm_article.pk }}</li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="content">
                <div class="large-8 columns">
                    <div class="title-area">
                        <h2>Article Commission #{{ comm_article.pk }}</h2>
                    </div>
                    {% if comm_article.article and comm_article.check_expiry %}
                    <div class="callout warning">
                        <p><span class="fa fa-exclamation-triangle"> </span> Warning: This request has expired. You can still edit the details below and contact the author but no reminders will be sent and the author may expect not to be contacted.</p>
                    </div>
                    {% elif comm_article.author_decision_date %}
                        <div class="callout warning">
                            <p><span class="fa fa-exclamation-triangle"></span> The author has {{ comm_article.author_decision }} this commission on {{ comm_article.author_decision_date|date:"Y-m-d H:i" }}</p>
                        </div>
                    {% endif %}
                    <p>{{ comm_article.commissioning_editor }} requesting a
                        submission
                        from {{ comm_article.commissioned_author }}</p>
                    {% if duplicate_commissions %}
                        <p>Warning: This author already has commission
                            requests:</p>
                        <ul>
                            {% for duplicate in duplicate_commissions %}
                                <li>
                                    <a href="{% url 'commissioned_article_details' duplicate.pk %}">Commission
                                        #{{ duplicate.pk }} commissioned
                                        on {{ duplicate.commissioned }}
                                        by {{ duplicate.commissioning_editor }}</a>. {{ duplicate.status }}.
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if not comm_article.author_decision_date %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ article_form|foundation }}
                        {{ deadline_form|foundation }}
                        <div class="row expanded">
                            <div class="large-12 columns">
                                <button name="save_section"
                                        class="success button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <div class="large-4 columns">
                    <div class="title-area">
                        <h2>Cancel Commission</h2>
                    </div>
                        <p>If you wish to cancel this commission you can use the
                            button below.</p>
                        <form method="POST">
                            {% csrf_token %}
                            <button name="cancel_commission" class="alert button">
                                Cancel Commission
                            </button>
                        </form>
                    <div class="title-area">
                        <h2>Archive Commission</h2>
                    </div>
                    <p>You can archive this request. It will be moved from the Active list and no automated messages will be sent to the author.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button name="archive_commission" class="alert button">
                            Archive Commission
                        </button>
                    </form>
                    {% if not comm_article.author_decision_date %}
                        <div class="title-area">
                            <h2>Accept/Decline Commission</h2>
                        </div>
                        <p>You can accept or decline this commission request on behalf of the author.</p>
                        <form method="POST">
                            {% csrf_token %}
                            <button name="accept_commission" class="success button">
                                Accept Commission
                            </button>
                            <button name="decline_commission" class="alert button">
                                Decline Commission
                            </button>
                        </form>
                    {% endif %}
                </div>
                 <div class="large-12 columns">
                        <div class="title-area">
                            <h2>Notifications</h2>
                        </div>
                {% if comm_article.message_sent and not comm_article.author_decision_date %}
                    <p>A notification was sent to the author on {{ comm_article.message_sent }}. A decision on this commission is due on {{ comm_article.deadline|date:"Y-m-d" }}.</p>
                    <p>Reminders will be sent to the author on the following days:</p>
                    <ul>
                        <li>Before Due Date: {% if comm_article.reminder_before_sent %}A reminder was sent on {{ comm_article.reminder_before_sent }}{% else %}{{ comm_article.reminder_before_date }}{% endif %}</li>
                        <li>After Due Date: {% if comm_article.reminder_after_sent %}A reminder was sent on {{ comm_article.reminder_after_sent }}{% else %}{{ comm_article.reminder_after_date }}{% endif %}</li>
                    </ul>
                {% endif %}
                    <div class="title-area">
                        <h2>Contact Author</h2>
                    </div>
                    <p>You can manually contact the author using the button below.</p>
                    <p>Useful links for use when contacting authors:</p>

                    <ul>
                        {% if not comm_article.author_decision_date %}<li>Commission Decision page: {% site_url 'commissioned_author_decision' comm_article.pk %}</li>{% endif %}
                        <li>Article Submission page: {% site_url 'submission_start' comm_article.article.pk %}</li>
                    </ul>

                    <a class="button" onclick="return popitup('{% url 'send_user_email_article' comm_article.commissioned_author.pk comm_article.article.pk  %}')"><i
                                class="fa fa-envelope">&nbsp;</i>Contact Author</a>
                {% if comm_article.message_sent and comm_article.author_decision_date %}
                    <div class="title-area">
                        <h2>Automatic Notifications</h2>
                    </div>
                    <p>The submission is due by {{ comm_article.submission_deadline|date:"Y-m-d" }}.</p>
                    <p>Reminders will be sent to the author on the following days:</p>
                    <ul>
                        <li>Before Due Date: {% if comm_article.submission_reminder_before_sent %}A reminder was sent on {{ comm_article.submission_reminder_before_sent }}{% else %}{{ comm_article.submission_reminder_before_date }}{% endif %}</li>
                        <li>After Due Date: {% if comm_article.submission_reminder_after_sent %}A reminder was sent on {{ comm_article.submission_reminder_after_sent }}{% else %}{{ comm_article.submission_reminder_after_date }}{% endif %}</li>
                    </ul>
                {% elif comm_article.article %}
                        <div class="content">
                            <ul class="accordion" data-accordion data-allow-all-closed="true">
                                {% for rendered_template in rendered_templates %}
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title"><strong>Template Name</strong>: {{ rendered_template.template_name }}</a>
                                        <div class="accordion-content" data-tab-content>
                                            <form method="POST">
                                                {% csrf_token %}<textarea name="html">{{ rendered_template.content|safe }}</textarea>
                                                <button name="template_id" value="{{ rendered_template.template_identifier }}" class="success button">
                                                    Send Invitation
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                {% else %}
                    <p>Set a title and section above, then you will be able to send an
                        invitation email.</p>
                {% endif %}
                 </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {% include "elements/jqte.html" %}
    <script type="text/javascript" src="{% static 'admin/js/popup.js' %}"></script>
{% endblock js %}
