{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}
{% load i18n %}

{% block title %}Commission Articles{% endblock %}
{% block title-section %}Commission Articles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'commission_index' %}">Commissioning Index</a></li>
    <li><a href="{% url 'reporting_index' %}">Commissioned Article #{{ article.pk }}</a></li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="large-6 columns end">
                <div class="title-area">
                    <h2>Commission Article</h2>
                </div>
                <div class="content"></div>
                <form method="POST">
                    {% include "elements/forms/errors.html" %}
                    {% csrf_token %}
                    {{ article_form.title|foundation }}

                    {{ article_form.abstract|foundation }}

                    {{ article_form.owner|foundation }}

                    {{ article_form.language|foundation }}

                    {{ article_form.section|foundation }}

                    {{ article_form.license|foundation }}

                    <div class="row">
                        <div class="large-12 columns">
                            <button name="article" class="button">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="large-6 columns end">
                <div class="title-area">
                    <h2>Article Authors</h2>
                </div>
                <div class="content">

                    <p>{% trans "You can add an author by clicking the button below. This will open a popup modal for you to complete their details. If you do not have a legitimate email address for this author use @journal.com as a prefix for their email address and Janeway will ignore it." %}</p>
                        <a href="#" data-open="author" class="small success button">{% trans "Add New Author" %}</a>
                        {% include "admin/elements/submit/author.html" %}
                        <p>{% trans "If you know of an existing author, you can select them from the below drop down." %}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <label for="id_section">{% trans "Existing Author" %}</label>
                            {{ existing_author_form.author }}
                            {{ existing_author_form.author.errors }}
                            <button name="existing_author" class="success button">Add Existing Author</button>
                        </form>

                    <form method="POST">
                    {% csrf_token %}
                    <ul class="list-group">
                        {% for author in article.authors.all %}
                            <li class="list-group-item">
                                {{ author.full_name }} <button name="delete_author" value="{{ author.pk }}" class="button warning tiny pull-right"><i class="fa fa-trash"></i></button>
                            </li>
                            {% empty %}
                            <li class="list-group-item">
                                This article has no authors listed.
                            </li>
                        {% endfor %}
                    </ul>
                    </form>

                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock body %}

{% block js %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css"
          integrity="sha256-ibvTNlNAB4VMqE5uFlnBME6hlparj5sEr1ovZ3B/bNA="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
            integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk="
            crossorigin="anonymous"></script>

    <script>
        $('#id_owner').selectize({
            create: true,
            sortField: 'text'
        });
        $('#id_language').selectize({
            create: true,
            sortField: 'text'
        });
        $('#id_author').selectize({
            create: true,
            sortField: 'text'
        });
    </script>

    <style>
        .help-text {
            padding-top: 10px;
        }
    </style>

    {% if modal %}
        {% include "elements/open_modal.html" with target=modal %}
    {% endif %}

{% endblock js %}